= link_to root_path do
  トップページ

= @user.nickname
さんの投稿一覧

.user-show-content
  - @posts.each do |post|
    =link_to post.title, post_path(post.id)
    -# =link_to post.user.nickname, user_path(post.user) 
