.users-show
  .users-show__top
    = link_to root_path do
      トップページ

  .users-show__title
    = @user.nickname
    さんの投稿一覧

  .users-show__content
    - @posts.each_with_index do |post,index|
      =link_to post.title, post_path(post.id, index)
      -# =link_to post.user.nickname, user_path(post.user) 
